@{
    ViewBag.Title = "Settings";
}

<div class="folder">
    <h2 class="folder-heading">@Loc("Account settings")</h2>

    <p class="first last">We are sorry, but account settings are currently underconstruction.</p>
</div>
