@{
    ViewBag.Title = "About";
}

<div class="folder">
    <h2 class="folder-heading">About FormService</h2>

    This project started in 2010 as my semestral work at CTU. The original name was <strong>FeedbackService</strong>, as first targeting
    was to feedback forms. This first version was written in Java EE and to mainly thanks to this, was never released.

    <div class="folder-separator"></div>

    Second version (this one) started two years later in course of my master degree. And is under development :)
</div>
