@{
    ViewBag.Title = "Features";
}

<div class="folder">
    <h2 class="folder-heading">Features overview</h2>
    <p class="first last">
        ...
    </p>
</div>

<div class="folder">
    <h2 class="folder-heading">Form and field types</h2>
    <p class="first last">
        ...
    </p>
</div>

<div class="folder">
    <h2 class="folder-heading">Usage</h2>
    <p class="first last">
        ...
    </p>
</div>
