@{
    ViewBag.Title = "Features";
}

<div class="folder">
    <h2 class="folder-heading">Základní vlastnosti</h2>
    <p class="first last">
        ...
    </p>
</div>

<div class="folder">
    <h2 class="folder-heading">Typy fomulářů a polí</h2>
    <p class="first last">
        ...
    </p>
</div>

<div class="folder">
    <h2 class="folder-heading">Možná použítí</h2>
    <p class="first last">
        ...
    </p>
</div>
