@{
    ViewBag.Title = "Index";
    ViewBag.HideSideBar = true;
}

@section HtmlHead {
    <style type="text/css">
    
    .home-main, .home-side { float: left; }
    .home-main { width: 600px; }
    .home-side { width: 400px; }
    
    .news-item { margin: 10px 0; }
    .news-item .news-date { display: inline; }
    .news-item h4 { margin: 0; display: inline; }
    
    </style>
}

<div class="home-main">
    @Html.Action("IndexWelcome")
</div>
<div class="home-side">
    @Html.Action("QuickNews")
</div>
<div class="clear"></div>