<div class="folder">
    <h2 class="folder-heading">Welcome</h2>

    <p class="first">
        FormService enables you fast and easy solution for collecting data. You can very easily inetegrate form into your website or desktop aplication
        and start collecting data form users. Bellow you can see small example.
    </p>
    <p class="last">
        More about features and functions you can find in section "Features" and "Learn".
    </p>
</div>