<div class="folder">
    <h2 class="folder-heading">Vítejte</h2>

    <p class="first">
        Služba FormService poskytuje rychlé a snadné řešení pro sběr dat. Umožňuje snadno integrovat formulář do vaší webové stránky nebo desktopové aplikace
        a sbírat data od uživatelů. Malá ukázka jednoduchého formuláře je přímo pod tímto textem.
    </p>
    <p class="last">
        Více informací najdete v sekci "Funkce" a "Naučit se", kde je popsán postup od vytvoření formuláře po jeho integraci do vaší stránky/aplikace.
    </p>
</div>