@{
    ViewBag.Title = "LearnJavascript";
}

@section SideBarTop {
    <div class="folder">
        <h4 class="folder-heading">@Loc("Learn")</h4>
        @UI.Menu("LearnMenu", "SideBarMenu")
    </div>
}

<div class="folder">
    <h2 class="folder-heading">Úvod</h2>
    <p class="first last">
        jQuery, jQuery-jsonp, ...
    </p>
</div>

<div class="folder">
    <h2 class="folder-heading">Základní knihovna pro síťovou komunikaci</h2>
    <p class="first last">
        ...
    </p>
</div>

<div class="folder">
    <h2 class="folder-heading">Rozšířená knihovna pro stavění uživatelského rozhraní</h2>
    <p class="first last">
        ...
    </p>
</div>