@{
    ViewBag.Title = "LearnJavascript";
}

@section SideBarTop {
    <div class="folder">
        <h4 class="folder-heading">@Loc("Learn")</h4>
        @UI.Menu("LearnMenu", "SideBarMenu")
    </div>
}

<div class="folder">
    <h2 class="folder-heading">Úvod</h2>
    <p class="first">
        Javascriptová knihovna je rozdělena do dvou částí, pro síťovou komunikaci s WebService rozhraním (soubor ~/Javascript/Forms.IO.js). 
        Druhá část pak řeší generování uživatelského rozhraní, jak pro formuláře, tak pro zobrazení dat (soubor ~/Javascript/Forms.UI.js).
    </p>
    <p class="last">
        Obě tyto knihovny vyžadují přítomnost <a target="_blank" href="http://www.jquery.com">jQuery</a> a <a target="_blank" href="http://code.google.com/p/jquery-jsonp/">jQuery-JSONP</a>.
        Nicméně v případě potřeby je možné obě knihovny zcela vypustit a využít vlastní řešení přímo proti webové službě, @Html.ActionLink("více informací o rozhraní WebService zde", "LearnWebService").
    </p>
</div>

<div class="folder">
    <h2 class="folder-heading">Základní knihovna pro síťovou komunikaci</h2>
    <p class="first last">
        ...
    </p>
</div>

<div class="folder">
    <h2 class="folder-heading">Rozšířená knihovna pro stavění uživatelského rozhraní</h2>
    <p class="first last">
        ...
    </p>
</div>