@{
    ViewBag.Title = "LearnJavascript";
}

@section SideBarTop {
    <div class="folder">
        <h4 class="folder-heading">@Loc("Learn")</h4>
        @UI.Menu("LearnMenu", "SideBarMenu")
    </div>
}

<div class="folder">
    <h2 class="folder-heading">Introduction</h2>
    <p class="first last">
        ...
    </p>
</div>