@{
    ViewBag.Title = "LearnJavascript";
}

@section SideBarTop {
    <div class="folder">
        <h4 class="folder-heading">@Loc("Learn")</h4>
        @UI.Menu("LearnMenu", "SideBarMenu")
    </div>
}

<h2>LearnJavascript</h2>
