body {
    background: #E8E8E8 url('../Images/Layout/Background.png') repeat-x left top;
}

.all, .foot-in {
    width: 1000px;
    margin: 0 auto;
}

.head {
    height: 101px;
    padding: 25px 25px 0px 20px;
}

.head .heading span, .head .by-neptuo span {
    display: none;
}

.head .heading {
    width: 417px;
    height: 40px;
    display: block;
    margin-left: 2px;
    background: url('../Images/Layout/HeadLogo.png') no-repeat left top;
}

.head .heading-active {
    background: url('../Images/Layout/HeadLogoActive.png') no-repeat left top;
}

.head .by-neptuo {
    width: 122px;
    height: 21px;
    display: block;
    float: right;
    margin: 5px 10px 0 0;
    background: url('../Images/Layout/NeptuoLogo.png') no-repeat left top;
}

.head .langs {
    float: right;
    margin-right: 10px;
}

.main-menu {
    padding: 15px 0 0 0 0;
}

.main-menu ul {
    padding: 0;
    list-style: none;
}

.main-menu li {
    float: left;
    padding: 0 10px;
    background: url('../Images/Layout/MenuSeparator.png') no-repeat left center;
}

.main-menu li.first {
    padding-left: 0;
    background: none;
}

.main-menu li a {
    display: block;
    padding: 5px 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
}

.main-menu li a:hover {
    color: #999999;
}

.main-menu li.active a {
    color: #F5FF00;
}

.admin-menu {
    margin-top: 14px;
}

.admin-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.admin-menu li {
    float: right;
    margin-left: 5px;
}

.admin-menu li.active {
    background: url('../Images/Layout/TabBackground.png') no-repeat left top;
}

.admin-menu li a {
    width: 70px;
    height: 60px;
    display: block;
    background: no-repeat center center;
}

.admin-menu li a span {
    display: none;
}


.side-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.side-menu li a {
    display: block;
    margin: 1px 0;
    padding: 2px 4px;
    color: #444444;
    text-decoration: none;
}

.side-menu li a:hover {
    background: #eeeeee;
}

.side-menu li.active a {
    font-weight: bold;
}


.body {
    padding: 10px 0;
}

.content-narrow {
    width: 800px;
    float: left;
}

.side-bar {
    width: 200px;
}

.folder {
    margin: 10px;
    padding: 10px 15px 15px 15px;
    color: #444444;
    background: white;
    border: 1px solid #C0C0C0;
}

.folder-heading {
    margin-bottom: 5px;
    padding-bottom: 5px;
    color: #999999;
    border-bottom: 1px solid #C0C0C0;
}

.folder-heading h1, .folder-heading h2, .folder-heading h3, .folder-heading h4, .folder-heading h5, .folder-heading h6 {
    margin: 0;
    padding: 0;
}

.folder-separator {
    margin: 5px 0;
    border-top: 1px solid #C0C0C0;
}

.folder-foot {
    margin-top: 5px;
    padding-top: 5px;
    color: #999999;
    border-top: 1px solid #C0C0C0;
}



.foot {
    background: url('../Images/Layout/FootBackground.png') repeat-x left top;
}

.foot-in, .foot-in a {
    color: #666666;
}

.foot-in a {
    text-decoration: none;
    font-weight: bold;
}

.foot-in a:hover {
    text-decoration: underline;
}

.foot-in .left, .foot-in .right {
    padding: 10px 10px;
}

/* ============================ ADMIN ICONS ============================================ */

.admin-menu .admin-users {
    background-image: url('../Images/Admin/Users.png');
}

.admin-menu .active .admin-users {
    background: url('../Images/Admin/UsersActive.png') no-repeat center center;
}

.admin-menu .admin-projects {
    background-image: url('../Images/Admin/Projects.png');
}

.admin-menu .active .admin-projects {
    background: url('../Images/Admin/ProjectsActive.png') no-repeat center center;
}

.admin-menu .admin-settings {
    background-image: url('../Images/Admin/Settings.png');
}

.admin-menu .active .admin-settings {
    background: url('../Images/Admin/SettingsActive.png') no-repeat center center;
}

.admin-logout {
    margin-top: 15px;
}

/* ============================= TINY-BUTTON =========================================== */

.tiny-button, .action-panel a {
    padding: 2px 4px;
    color: black;
    text-decoration: none;
    background: #eeeeee;
    border: 1px solid #cccccc;
}

.tiny-button.orange {
    background: #FCDA9D;
    border-color: Orange;
}

/* ============================= SUB-SECTION =========================================== */

.sub-section {
    margin-bottom: 10px;
}

.sub-section h3 {
    padding: 2px 4px;
    margin: 0 0 5px 0;
    /*background: #eeeeee;
    border: 1px solid #cccccc;*/
}

.sub-section .data-items {
    padding: 2px 6px;
}

.data-items {
    padding-top: 5px;
    margin-top: 5px;
    border-top: 1px solid #dddddd;
}

.data-items .data-item {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #dddddd;
}

/* ============================= PAGES ================================================= */

.item {
    margin: 0 0 10px 0;
}

/* ============================= MESSAGE =============================================== */

.message {
    margin: 5px 10px;
    padding: 2px 6px;
    font-weight: bold;
    border: 1px solid;
}

.message-content {
    padding: 4px 6px;
    float: left;
}

.message-icon {
    width: 24px;
    height: 24px;
    float: left;
    background: url('../Images/MessageIcons.png') no-repeat;
}

.message-error {
    color: Red;
    background: #fab1b1;
    border-color: #FF6A6A;
}

.message-success {
    color: Green;
    background: #b9f7b9;
    border-color: #21B921;
}

.message-success .message-icon {
    background-position: -24px 0;
}

.message-warning {
    color: Orange;
    background: #f7d595;
    border-color: #FAB740;
}

.message-warning .message-icon {
    background-position: -48px 0;
}

/* ============================= PAGING ================================================ */

.paging {
    padding: 4px 0;
    text-align: right;
}

.paging a {
    text-decoration: none;
    color: #333333;
    padding: 2px 4px;
    margin: 0 5px 0 0;
    background: #eeeeee;
}

.paging a:hover {
    background: #cccccc;
}

.paging a.selected {
    color: White;
    background: #333333;
}


.task-title {
    color: Navy;
    text-decoration: underline;
    cursor: pointer;
}