@model Neptuo.Forms.Web.Models.DetailArticleModel

@if (Model != null) { 
    <div class="folder">
        <h2 class="folder-heading">@Model.Title</h2>

        @Html.Raw(Model.Content)

        <div class="folder-foot" style="border: none;">
            <div class="left">@Model.Modified</div>
            <div class="right">@Model.AuthorFullname</div>
            <div class="clear"></div>
        </div>
    </div>
}