@model IEnumerable<Neptuo.Forms.Web.Models.ListFormDefinitionModel>

@{
    ViewBag.Title = "Forms";
}

<div class="folder">
    <h2 class="folder-heading">@Loc("Project forms")</h2>

    @{
        UI.Grid(Model)
            .SetEmptyText((L)"No forms")
            .AddColumn((L)"ID", f => f.ID, "w30")
            .AddColumn((L)"Name", f => f.Name)
            .AddColumn((L)"PublicIdentifier", f => f.PublicIdentifier)
            .AddColumn((L)"Created", f => f.Created, "w130")
            .AddColumn((L)"Type", f => f.FormType == Neptuo.Forms.Core.FormType.Form ? (L)"Form" : (L)"Inquiry", "w40")
            .AddColumn((L)"Public", f => f.PublicContent ? (L)"Yes" : (L)"No", "w30")
            .AddColumn("", f => Html.ActionLink((L)"Edit", "edit", "formdefinition", new { id = f.ID }, null)
                + " " + Html.ActionLink((L)"Fields", "fields", "formdefinition", new { id = f.ID }, null)
                + " " + Html.ActionLink((L)"Data", "index", "formdata", new { id = f.ID }), "w100")
            .Render();
        
    }

    <div class="folder-foot">
        @Html.ActionLink((L)"+Create", "create", "formdefinition", new { ProjectID = ViewContext.RouteData.Values["id"] }, null)
        @Html.ActionLink((L)"Back to projects", "index")
    </div>
</div>
