@model IEnumerable<Neptuo.Forms.Web.Models.ListProjectModel>

@{
    ViewBag.Title = "Index";
}

<div class="folder">
    <h2 class="folder-heading">@Loc("Your projects")</h2>

    @{
        if (Model.Count() > 0)
        {
            UI.Grid(Model)
                .AddColumn((L)"ID", p => p.ProjectID, "w30")
                .AddColumn((L)"Name", p => p.Name)
                .AddColumn((L)"Created", p => p.Created, "w130")
                .AddColumn("", p => Html.ActionLink((L)"Edit", "edit", new { projectID = p.ProjectID }) + " " + Html.ActionLink((L)"Forms", "forms", new { projectID = p.ProjectID }) + (p.IsOwner ? (" " + Html.ActionLink((L)"Invitations", "invitations", new { projectID = p.ProjectID })) : ""), "w140")
                .Render();
        }
        else
        { 
            @Loc("No projects")
        }
    }

    <div class="folder-foot">
        @Html.ActionLink((L)"+Create", "create")
    </div>
</div>
